streamlit
fastapi
uvicorn
sqlalchemy
pandas
numpy
opencv-python
mediapipe
deepface
sentence-transformers
transformers
torch
pdfplumber
python-docx
reportlab
SpeechRecognition
pyaudio
Pillow
python-dotenv
bcrypt
passlib